<div id="roundabout-container" style="width: <%= @graph_width %>px; height: <%= @graph_height %>px;">
  <div id="roundabout">
    <% @nodes.each.with_index(1) do |node, i| %>
      <% width, height = BigDecimal.new(node[:width].source) * 72, BigDecimal.new(node[:height].source) * 72 %>
      <div id="roundabout-node-<%= i %>" class="node" style="top: <%= node[:pos].point[1] - height / 2 %>px; left: <%= node[:pos].point[0] - width / 2 %>px; width: <%= width %>px; height: <%= height %>px;">
        <%- node_controller_name, node_action_name = node.id.split("\n") %>
        <div class="node-name"><span class="controller_name"><%= node_controller_name %></span><span class="controller_name"><%= node_action_name %></span></div>
      </div>
    <% end %>
  </div>
</div>
<div id="downloads">
 <ul>
    <li>
      <%= link_to '/roundabout.png', {:class => 'png'} do %>
        Download
        <span>.png</span>
      <% end %>
    </li>
    <li>
      <%= link_to '/roundabout.pdf', {:class => 'pdf'} do %>
        Download
        <span>.pdf</span>
      <% end %>
    </li>
</ul>
</div>
<script>
(function () {
  window.paper = Raphael(0, 0, <%= @graph_width %>, <%= @graph_height %>);

  <%= @edges.to_json.html_safe %>.forEach(function(e) {
    var path = ["M", e[0], e[1]]
    window.paper.path(path).attr({'stroke-width': 2, stroke: e[2], 'arrow-end': 'classic-wide-long'})
  })
})();
</script>
